body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activity-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* اضافه کردن این خط برای راست‌چین کردن */
}

.activity-form label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: right; /* اضافه کردن این خط برای راست‌چین کردن */
}

.activity-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right; /* اضافه کردن این خط برای راست‌چین کردن */
}

.button-row {
    display: flex;
    gap: 10px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    button {
        font-size: 16px;
        padding: 12px 25px;
    }
}