body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

.activity-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* اضافه کردن این خط برای راست‌چین کردن */
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

.activity-form label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: right; /* اضافه کردن این خط برای راست‌چین کردن */
}

.activity-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right; /* اضافه کردن این خط برای راست‌چین کردن */
    width: 100%; /* افزایش عرض input */
    box-sizing: border-box; /* برای سازگاری با مرورگرهای مختلف */
}

.button-row {
    display: flex;
    gap: 10px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    button {
        font-size: 16px;
        padding: 12px 25px;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.3s ease;
    direction: rtl; /* راست‌چین کردن ساختار مودال */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center; /* وسط‌چین کردن متن input */
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto; /* اضافه کردن این خط برای فاصله دادن از بالا */
    margin-bottom: auto; /* اضافه کردن این خط برای فاصله دادن از پایین */
}

.add-day-button {
    margin-top: 20px;
    background-color: #28a745;
}

.add-day-button:hover {
    background-color: #218838;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

.title-buttons {
    display: flex;
    gap: 10px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

hr {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.day-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rename-button {
    background-color: #c9d27c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.rename-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-bottom: 20px;
    direction: rtl;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 5px; /* کاهش ارتفاع فوتر */
    background-color: rgba(241, 241, 241, 0.23); /* تغییر رنگ پس زمینه به شفاف */
    backdrop-filter: blur(10px); /* اضافه کردن فیلتر بلور */
    width: 100%;
    position: relative; /* تغییر این خط برای جلوگیری از پنهان شدن */
    bottom: 0;
    margin-top: auto; /* اضافه کردن این خط برای چسباندن به پایین صفحه */
    flex-shrink: 0; /* اضافه کردن این خط برای چسباندن به پایین صفحه */
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.info-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.tooltip {
    position: absolute;
    top: -5px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

@media (max-width: 600px) {
    .tooltip {
        left: 0;
        top: 30px;
    }
}

.info-box {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    font-size: 16px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .activity-form {
        width: 90%;
        padding: 15px;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .button-row {
        flex-direction: column;
        gap: 5px;
    }

    .title-section {
        flex-direction: column;
        gap: 10px;
    }

    .title-buttons {
        flex-direction: column;
        gap: 5px;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
        padding: 5px;
    }

    .info-box {
        width: 90%;
        margin: 5px auto;
    }

    .info-boxes {
        flex-direction: column;
        gap: 5px;
    }
}

.day1-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* مرکز کردن محتوای طولی */
    align-items: center;
    min-height: 100vh;
}

#rename-day-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#rename-day-modal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.3s ease;
    direction: rtl; /* راست‌چین کردن ساختار مودال */
}

.button-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 241, 241, 0.219); /* رنگ پس زمینه همرنگ فوتر */
    backdrop-filter: blur(10px); /* اضافه کردن فیلتر بلور */
    padding: 20px;
    border-radius: 10px;
    width: auto; /* عرض متغیر */
    max-width: 100%; /* جلوگیری از تجاوز عرضی */
    margin: auto 0; /* مرکز کردن کادر دکمه‌ها به صورت عمودی */
}